<%=@player_1_name%> vs. <%=@player_2_name%>
<br>

<%=@player_2_name%> = <%=@player_2_hit_points%> Hit Points
<br>

<h1>ATTACK!</h1>
<form action="/attack" method="get">
  <label for="attack_player_2">
    Attack <%=@player_2_name%>
    <input type="submit" value="ATTACK!">
  </label>
</form>
